head {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: black;
  back-ground color: #D7D3C8;
}

main {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: black;
  back-ground color: #D7D3C8;
  background-image: url("http://static.simpledesktops.com/uploads/desktops/2011/04/20/wallpaper_turtle_tomreinert.png.625x385_q100.png");
}

header {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: black;
  back-ground color: #D7D3C8;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: black;
  back-ground color: #ffffff;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: black;
  back-ground color: #D7D3C8; 
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: black;
  back-ground color: #D7D3C8; 
}

ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}




