head {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: black;
    background: white;
}


body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: black;
    background-color: white;
    background: white;
}



section {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: black;
    background-color: white;
}



.header {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    color: black;
    background-color: white;
}

.outer {
  width: 50%;
  height: 10em;
  background-color: #e0b0ff;
}

.inner {
  width: 550px;
  height: 10em;
  background-color: white;
}

.blurb {
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    line-height: 20px;
    color: black;
    background-color: white;
}



