head {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: black;
  background: white;
}

main {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: black;
  back-ground color: white;
  background: white; 
}

body { 
  border: 5px solid white;
  background color: white; 
}


header {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: black;
  background color: #D7D3C8;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: black;
  background color: #ffffff;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: black;
  background: #00ff00 url("http://25.media.tumblr.com/tumblr_m2ucyh7USZ1rsxgl4o1_500.jpg") repeat fixed center; 
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: black;
  background: white; 
}

ul {
   list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}




