html {
   background-color: #f5fffa;
   padding: 50px 0;
   font-family: "Roboto";
   font-weight: 400;
}

head {
   background-color: #f5fffa;
   padding: 50px 0;
   font-family: "Roboto";
   font-weight: 400;
}

body {
   background-color: #f5fffa;
   padding: 50px 0;
   font-family: "Roboto";
   font-weight: 400;
}

h1 {
   font-color: #3b3b3b;
   font-family: "Roboto";
}

p  {
   font-color: #3b3b3b;
   font-family: "Roboto";
}

footer {
   font-size: 9px;
   font-samily: "Roboto";
}
