html {
  padding-left: 0.5em;
  padding-right: 1em;
  padding-top: 2em;
  padding-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
  
h1 {
    font-family: Noto+Sans;
    font-size: 36px;
    margin-left: 0.8em;
    margin-bottom: auto;
  }

nav {
  font-family: inherit;
  padding: 1em;  
  margin: inherit;
  align-content: stretch;
}

body {
  font-family: "Open Sans", sans-serif;
  font-kerning: auto;
  padding: inherit
}
  
main {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  padding: 4.5em;  
}

footer {
  font-family: inherit;
  font-size: 10px;
  text-align: center;
  align-content: center;
  
}

p#authorquote {
  color: slateblue;
  font-size: 19px;
}

